<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="https://use.typekit.net/dxn3bnu.css">

  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    body {
      overflow: hidden;
    }

    /* body:before,
    body:after {
      content: "";
      position: fixed;
      background: #900;
      left: 0;
      right: 0;
      height: 10px;
    } */

    body:before {
      top: 0;
    }

    body:after {
      bottom: 0;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>