<template>
  <div class="oneband" :style="styleObject">
    <Unit
      v-for=" bone in bones "
      :key="bone.id"
      :posX="bone.posX"
      :posY="bone.posY"
      :shake="bone.shake"
      :msg="'hello'"
    ></Unit>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Unit from "./Unit.vue";

interface Bone {
  id: number;
  posX: number;
  posY: number;
  shake: number;
}

@Component({
  components: {
    Unit
  }
})
export default class Band extends Vue {
  @Prop() private posX!: number;
  @Prop() private posY!: number;
  @Prop() private id!: number;
  @Prop() private rotation!: number;
  private bones: Bone[] = [];

  mounted() {
    const gen = (j: number): any => {
      setTimeout(() => {
        this.bones.push({
          id: j,
          posX: 0,
          posY: 40 * j,
          shake: 2
        });
        if (j < 50) {
          setTimeout(gen(j + 1), 50);
        }
      }, 50);
    };
    gen(0);
  }
  get styleObject() {
    console.log("this.posX", this.posX);
    return {
      "transform-origin": "0px 0px",
      transform:
        "translate(" +
        this.posX +
        "px," +
        this.posY +
        "px)" +
        "rotate(" +
        this.rotation +
        "deg) "
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.oneband {
  width: 50px;
  /*  */
  background-color: white;
}
</style>
