<template>
  <div class="canvas">
    <Band
      v-for="set in sets"
      :key="set.id"
      :id="set.id"
      :posX="set.posX"
      :posY="set.posY"
      :rotation="set.rotation"
    ></Band>
    <div class="letter">
      <span
        v-for="letter in letters"
        :key="letter.id"
        :style="letter.style"
        :class="letter.id + letter.char"
        :endl="letter.endl"
        :lft="letter.lft"
      >{{letter.char}}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Band from "./Band.vue";

interface Set {
  id: number;
  posX: number;
  posY: number;
  rotation: number;
}

interface Loc {
  X: number;
  Y: number;
  D: number;
}
interface FF {
  name: string;
}
interface FT {
  name: number;
}
interface Case {
  name: string;
}

@Component({
  components: {
    Band
  }
})
export default class Cartoon extends Vue {
  random(mn: number, mx: number) {
    return Math.floor(Math.random() * (mx - mn) + mn);
  }
  private FF: FF[] = [
    { name: "titling-gothic-fb" },
    { name: "titling-gothic-fb-compressed" },
    { name: "titling-gothic-fb-condensed" },
    { name: "titling-gothic-fb-extended" },
    { name: "titling-gothic-fb-extended" },
    { name: "titling-gothic-fb-wide" }
  ];
  private FT: FT[] = [{ name: 800 }, { name: 400 }, { name: 700 }];
  private sets: Set[] = [];
  private Loc: Loc[] = [
    { X: 12, Y: -2, D: 10 },
    // { X: 0, Y: 0, D: -30 },
    { X: 80, Y: -5, D: 15 },
    { X: 87, Y: -4, D: -23 },
    { X: 45, Y: 0, D: 34 },
    { X: 50, Y: 0, D: -30 }

    // { X: 55, Y: 0, D: -35 }
    // { X: 40, Y: 10, D: -67 },
    // { X: 100, Y: 62, D: -5 },
    // { X: 40, Y: 10, D: -59 },
    // { X: 100, Y: 10, D: -67 },
    // { X: 62, Y: 40, D: 42 }
  ];
  private Case: Case[] = [{ name: "uppercase" }, { name: "lowercase" }];
  word1 = "Letter"
    .split("")
    .concat("is".split(""))
    .concat("Fun".split(""));
  private letters: any = [];
  private wordObject = (): any => {
    for (const index in this.word1) {
      this.letters.push({
        id: index,
        char: this.word1[index],
        style: this.styleObject(),
        endl: index == "5",
        lft: index == "8"
      });
    }
  };
  letterUpdate() {
    for (const index in this.letters) {
      this.letters[index].style = this.styleObject();
    }
  }
  created() {
    this.wordObject();
    for (const char of this.word1) {
      this.letters.push(this.styleObject());
    }

    const gen = (): any => {
      setTimeout(() => {
        this.letterUpdate();
        setTimeout(gen(), 500);
      }, 500);
    };
    gen();

    const newSets = [];
    for (let i = 0; i < this.Loc.length; i++) {
      newSets.push({
        id: i,
        posX: (this.Loc[i].X * window.innerWidth) / 100,
        posY: (this.Loc[i].Y * window.innerHeight) / 100,
        rotation: this.Loc[i].D
      });
    }
    this.sets = newSets;
  }

  styleObject() {
    return {
      "font-family": this.FF[this.random(0, 5)].name,
      "font-weight": this.FT[this.random(0, 3)].name,
      "text-transform": this.Case[this.random(0, 2)].name
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  font-size: 10vw;
  color: black;
}
Band {
  transform-origin: left top;
}
[endl="true"]:after {
  content: "\a";
  white-space: pre;
}
[lft="true"] {
  margin-left: 20px;
}
/* * {
  overflow: hidden;
} */
</style>
