<template>
  <div class="unit">
    <span :style="styleObject1">I</span>
    <span :style="styleObject2">O</span>
    <span :style="styleObject3">I</span>
    <span :style="styleObject4">I</span>
    <span :style="styleObject5">I</span>
    <!-- <span :style="styleObject4">I</span>
    <span :style="styleObject5">I</span>-->
  </div>
</template>
//unit each unit 
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Unit extends Vue {
  @Prop() private msg!: string;
  @Prop() private posX!: number;
  @Prop() private posY!: number;
  @Prop() private shake!: number;
  get styleObject1() {
    return {
      color: "black",
      position: "absolute",
      top: this.posY + "px",
      left: this.posX - 13 * this.shake + "px"
    };
  }
  get styleObject2() {
    return {
      color: "black",
      position: "absolute",
      top: this.posY + "px",
      left: this.posX + "px",
      transform: "translate(-" + 30 + "%," + 0 + ")"
    };
  }
  get styleObject3() {
    return {
      color: "black",
      position: "absolute",
      top: this.posY + "px",
      left: this.posX + 13 * this.shake + "px"
    };
  }
  get styleObject4() {
    return {
      color: "black",
      position: "absolute",
      top: this.posY + 21 + "px",
      left: this.posX - 13 * this.shake + "px"
    };
  }
  get styleObject5() {
    return {
      color: "black",
      position: "absolute",
      top: this.posY + 21 + "px",
      left: this.posX + 13 * this.shake + 1 + "px"
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.unit {
  position: relative;
  font-family: "titling-gothic-fb";
  font-weight: 300;
  font-size: 25px;
  background-color: white;
}
</style>
