<template>
  <div id="app">
    <Cartoon />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Cartoon from "./components/Cartoon.vue";

@Component({
  components: {
    Cartoon
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
* {
  margin-top: 0;
}
</style>
